<div class="navbar">
  <div class="">
    <%= link_to 'Home', root_path, class: 'nav-link' %>
    <%= link_to 'Products', products_path, class: 'nav-link' %>
    <%= link_to cart_path, class: 'nav-link relative' do %>
      Cart
      <span class="bg-white text-purple-900 rounded-full h-4 w-4 flex items-center justify-center absolute top-0.5 -right-1">
        <% if @cart.empty? %>
          0
        <% else %>
          <%= @cart.count %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>